html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  margin: 1rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

.logo {
  width: 300px;
  height: 160px;
}

img {
  width: 100%;
  border-radius: 1rem;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-bottom: 2em;
}

.grid {
  display: flex;
  flex-direction: column;
}

.money-tree-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: .6em 0 0 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.125rem;
}


header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

.h2 {

}

button {
  background-color: #556B2F;
  border: none;
  color: white;
  padding: .5em .75em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1rem;
  align-content: center;
}

button:hover {
  /* text-decoration: underline; */
  background-color: white;
  border: .2rem solid #556B2F;
  color: #556B2F;

}

.browsing-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  line-height: 0;
}

footer {
  text-align: center;
}
/* Default styling for all screens ends here */

/* Add media query for tablet */

@media only screen and (min-width: 38em) {

header {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  align-items: start;
}

.grid {
  flex-direction: row;
  /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
}

.browsing-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  line-height: 0;
}

.quote-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
blockquote {
  margin: 0;
  column-gap: 2rem;
}

button {
 text
}

.main-tree-image {
  max-width: 500px;
}

/* Add media query for desktop */
@media only screen and (min-width: 60em) {

.main-tree-image {
  max-width: 700px;
}
